# claude code
.claude/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# env files
.env*.local
.env

# next.js
/.next/
/out/

# production
/build

# serwist
public/sw*
public/swe-worker*

# testing
/coverage
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/.lighthouseci/

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# vs code
.vscode

# misc
.DS_Store
*.pem