{
  "printWidth": 200,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "crlf",
  "trailingComma": "all",
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}